* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;

}
body {
    background-color: #f5f8ff;
}
.wrapper{
    width: 95%;
    margin: 0 auto;
}
#search-container {
    margin: 1em 0;
}
#search-container input{
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #aaaaaa;
    padding: 1em 0.3em;

}
#search_container input:focus{
    border-bottom-color: orange;
}
#search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: rgb(5, 93, 209);
    color: white;
    border-radius: 5px;
    margin-top: 0.1em;
}